@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
  position: relative;
  background: url("../images/Desktop.png") no-repeat center center fixed;
  background-size: cover;
  font-family: "Inter", sans-serif;
}
h1,
p {
  text-align: center;
  margin: 60px;
  font-style: italic;
}

.container {
  display: flex;
  justify-content: center;
}
.youtube {
  width: 50%;
  height: 320px;
  box-shadow: 5px 5px 10px 5px rgba(82, 82, 82, 0.5);
}

.signature_img {
  position: absolute;
  left: 50%;
  top: 82%;
  transform: rotate(-30deg);
}
