<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Alert massages in the bootstrap</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container">
      <div class="alert alert-success">
        Lorem ipsum dolor sit amet.
        <a href="javascript:void(0)" class="alert-link"
          >this is a success link</a
        >
      </div>
      <br />
      <div class="alert alert-danger">
        something is danger to write
        <a href="javascript:void(0);" class="alert-link">danger</a>
      </div>
      <br />
      <div class="alert alert-primary">
        Lorem ipsum dolor sit amet. <a href="#" class="alert-link">primary</a>
      </div>
      <br />
      <div class="alert alert-info alert-dismissible fade show" role="alert">
        <h5 class="alert-heading">Lorem ipsum dolor sit.</h5>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti
          provident dolore blanditiis ut quibusdam saepe delectus molestias nam
          voluptatibus aperiam, velit necessitatibus optio quod, repellendus
          sint vitae sequi, ipsa fugiat.
        </p>
        <hr />
        <p class="mb-0">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea
          dignissimos quas quam dolorem earum deleniti sapiente. Optio in sequi
          cum!
        </p>
        <button
          type="button"
          class="close"
          data-dismiss="alert"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <br />
      <div class="alert alert-secondary">
        Lorem ipsum dolor sit amet consectetur.
      </div>
      <br />
      <div class="alert alert-warning">
        Lorem ipsum dolor sit amet consectetur.
      </div>
      <br />
      <div class="alert alert-light">Lorem ipsum dolor sit.</div>
      <br />
      <div class="alert alert-dark">
        Lorem ipsum dolor sit amet consectetur.
      </div>
      <br />
    </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
