<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>buttons</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
    />
    <style>
      /* $breadcrumb-devider: none; */
      /* this is for represend the devidor for per item in the list  */
    </style>
  </head>
  <body>
    <div class="btn-group1">
      <button class="btn btn-danger active" aria-pressed="true">Btn 1</button>
      <button class="btn btn-primary active" aria-pressed="true">Btn 1</button>
    </div>
    <br />
    <div class="btn-group2 mt-5">
      <button class="btn btn-danger">Btn 2</button>
      <button class="btn btn-primary">Btn 2</button>
    </div>
    <!-- if you are using the anchor tag then you have to use some predefine classes in it -->
    <div class="btn-group3 mt-5">
      <a
        href="#"
        tabindex="-1"
        aria-disabled="true"
        class="btn btn-info disabled"
        role="button"
        >Btn 3</a
      >
      <a aria-disabled="true" class="btn btn-info disabled" role="button"
        >Btn 3</a
      >
    </div>
    <button
      class="btn btn-success mt-5"
      data-toggle="button"
      aria-pressed="false"
      type="button"
    >
      Click Link
    </button>

    <br />
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <label class="btn btn-secondary active">
        <input type="radio" name="options" id="option1" checked /> Active
      </label>
      <label class="btn btn-secondary">
        <input type="radio" name="options" id="option2" /> Radio
      </label>
      <label class="btn btn-secondary">
        <input type="radio" name="options" id="option3" /> Radio
      </label>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
