<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Card in Bootstrap</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
    />
  </head>
  <body>
    <!-- first card -->
    <div class="card" style="width: 18rem">
      <img
        src="https://via.placeholder.com/200"
        class="card-img-top img-fluid"
        alt="card-image"
      />
      <div class="card-body">
        <h5 class="card-title">Card Title</h5>
        <p class="card-text">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil odit
          iusto possimus quis nisi expedita vitae voluptate quia modi atque?
        </p>
        <a href="#" class="btn btn-primary">Go Somewhere</a>
      </div>
    </div>
    <br />

    <!-- second card -->
    <div class="card" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>

    <div class="card" style="width: 18rem">
      <div class="card-header">something</div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">An item</li>
        <li class="list-group-item">A Second item</li>
        <li class="list-group-item">A third item</li>
      </ul>
      <div class="card-footer">this is the card footer</div>
    </div>

    <!-- card image overlay -->
    <div class="card" style="width: 20rem">
      <img
        src="https://via.placeholder.com/300"
        class="card-img"
        alt="card image"
      />
      <div class="card-img-overlay">
        <h4 class="card-title">Card Title</h4>
        <p class="card-text">This is a wider card with supporting text below</p>
        <p class="card-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia quo
          soluta sunt eaque quod ratione libero aperiam eum nobis cum.
        </p>
        <a href="#" class="card-link">This is a link</a>
      </div>
    </div>

    <!-- horizonatal card styling -->
    <div class="card" style="max-width: 540px">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img
            src="https://via.placeholder.com/300"
            alt="demo placehoder image"
            class="img-fluid"
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <div class="card-title">Something</div>
            <div class="card-subtitle text-muted">
              Lorem ipsum dolor sit amet.
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- card alignment using card-group -->
    <div class="container">
      <div class="card-group">
        <div class="card" style="width: 18rem">
          <img
            src="https://via.placeholder.com/300"
            class="card-img-top img-fluid"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              This is a wider card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer.
            </p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
        <div class="card" style="width: 18rem">
          <img
            src="https://via.placeholder.com/300"
            class="card-img-top img-fluid"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              This card has supporting text below as a natural lead-in to
              additional content.
            </p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
        <div class="card" style="width: 18rem">
          <img
            src="https://via.placeholder.com/300"
            class="card-img-top img-fluid"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              This is a wider card with supporting text below as a natural
              lead-in to additional content. This card has even longer content
              than the first to show that equal height action.
            </p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
      </div>
    </div>

    <!-- card deck -->
    <div class="container">
      <div class="card-deck">
        <div class="card" style="width: 18rem">
          <img
            src="https://via.placeholder.com/300"
            class="card-img-top img-fluid"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              This is a wider card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer.
            </p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
        <div class="card" style="width: 18rem">
          <img
            src="https://via.placeholder.com/300"
            class="card-img-top img-fluid"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              This card has supporting text below as a natural lead-in to
              additional content.
            </p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
        <div class="card" style="width: 18rem">
          <img
            src="https://via.placeholder.com/300"
            class="card-img-top img-fluid"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              This is a wider card with supporting text below as a natural
              lead-in to additional content. This card has even longer content
              than the first to show that equal height action.
            </p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
