<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jumbotron in Bootstrap</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1 class="display-4">Hello World!</h1>
        <p class="lead">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi
          expedita omnis nam corrupti ipsum quibusdam veniam blanditiis officiis
          debitis tempora, molestias repudiandae repellat reprehenderit minus
          voluptates sequi. Minima, laudantium sapiente?
        </p>
        <hr class="my-4" />
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi nihil
          ducimus, architecto voluptas dolores distinctio laudantium est
          deserunt quis! Nemo at laudantium voluptatum, animi eveniet possimus
          impedit perspiciatis hic consectetur?
        </p>
        <a
          href="javascript:void(0);"
          role="button"
          class="btn btn-primary btn-lg"
          >Learn More...</a
        >
      </div>
    </div>

    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">
          This is the most important thing in this World!
        </h1>
        <p class="lead">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil eos
          inventore, aliquam dolorem ullam rerum atque voluptas ducimus mollitia
          fugit qui perferendis sapiente accusamus debitis quis ut vitae
          deleniti quaerat dicta voluptatum. A fuga eaque veritatis modi
          aliquam! Ad, fugit.
        </p>
        <hr class="my-4" />
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis
          incidunt magnam odit. Neque, quasi laborum dignissimos alias totam
          natus maiores officia architecto. Nesciunt dignissimos incidunt iure
          aliquid totam placeat debitis consectetur, ad officiis ipsum aliquam
          dolorum illum reiciendis ipsam optio perferendis temporibus ratione
          earum! Atque vel recusandae labore nam laborum.
        </p>
        <a href="javascript:void(0);" role="button" class="btn btn-info"
          >Read More...</a
        >
      </div>
    </div>
    <div class="container">
      <!-- list gorup -->
      <div role="tabpanel">
        <!-- List group -->
        <div class="list-group" id="myList" role="tablist">
          <a
            class="list-group-item list-group-item-action active"
            data-toggle="list"
            href="#home"
            role="tab"
            >Home</a
          >
          <a
            class="list-group-item list-group-item-action"
            data-toggle="list"
            href="#profile"
            role="tab"
            >Profile</a
          >
          <a
            class="list-group-item list-group-item-action"
            data-toggle="list"
            href="#messages"
            role="tab"
            >Messages</a
          >
          <a
            class="list-group-item list-group-item-action"
            data-toggle="list"
            href="#settings"
            role="tab"
            >Settings</a
          >
        </div>

        <!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane active fade show" id="home" role="tabpanel">
            <h1 class="display-4">This is Home</h1>
            <p class="lead">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat
              illum quae nihil tempora, quos laboriosam magnam quia nulla
              incidunt doloribus aspernatur earum explicabo quisquam voluptate,
              sunt aperiam eius ducimus recusandae debitis vitae, hic quaerat
              sapiente. Similique labore vel facere totam!
            </p>
            <hr />
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error
              veniam consequuntur cum unde nisi distinctio illum recusandae,
              facere ab in.
            </p>
            <a href="javascript:void(0);" role="button" class="btn btn-info"
              >Read More...</a
            >
          </div>
          <div class="tab-pane fade" id="profile" role="tabpanel">
            <h1 class="display-4">This is Profile</h1>
            <p class="lead">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat
              illum quae nihil tempora, quos laboriosam magnam quia nulla
              incidunt doloribus aspernatur earum explicabo quisquam voluptate,
              sunt aperiam eius ducimus recusandae debitis vitae, hic quaerat
              sapiente. Similique labore vel facere totam!
            </p>
            <hr />
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error
              veniam consequuntur cum unde nisi distinctio illum recusandae,
              facere ab in.
            </p>
            <a href="javascript:void(0);" role="button" class="btn btn-primary"
              >Read More...</a
            >
          </div>
          <div class="tab-pane fade" id="messages" role="tabpanel">
            <h1 class="display-4">This is Messages</h1>
            <p class="lead">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat
              illum quae nihil tempora, quos laboriosam magnam quia nulla
              incidunt doloribus aspernatur earum explicabo quisquam voluptate,
              sunt aperiam eius ducimus recusandae debitis vitae, hic quaerat
              sapiente. Similique labore vel facere totam!
            </p>
            <hr />
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error
              veniam consequuntur cum unde nisi distinctio illum recusandae,
              facere ab in.
            </p>
            <a href="javascript:void(0);" role="button" class="btn btn-success"
              >Read More...</a
            >
          </div>
          <div class="tab-pane fade" id="settings" role="tabpanel">
            <h1 class="display-4">This is Settings</h1>
            <p class="lead">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat
              illum quae nihil tempora, quos laboriosam magnam quia nulla
              incidunt doloribus aspernatur earum explicabo quisquam voluptate,
              sunt aperiam eius ducimus recusandae debitis vitae, hic quaerat
              sapiente. Similique labore vel facere totam!
            </p>
            <hr />
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error
              veniam consequuntur cum unde nisi distinctio illum recusandae,
              facere ab in.
            </p>
            <a href="javascript:void(0);" role="button" class="btn btn-danger"
              >Read More...</a
            >
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
