<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Using media in List item</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container">
      <ul class="list-unstyled">
        <li class="media">
          <img
            src="https://via.placeholder.com/100"
            class="align-self-start mr-3"
            alt="media first image"
          />
          <div class="media-body">
            <h6>Hello World!</h6>
            <p class="lead">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae
              dolorum quia voluptatum unde ratione cum deserunt sequi sint ipsa
              quis!
            </p>
            <a
              href="javascript:void(0);"
              role="button"
              class="btn btn-sm btn-success"
              >Click Here</a
            >
          </div>
        </li>
        <li class="media">
          <img
            src="https://via.placeholder.com/100"
            class="align-self-center mr-3"
            alt="media second image"
          />
          <div class="media-body">
            <h6>Hello World!</h6>
            <p class="lead">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae
              dolorum quia voluptatum unde ratione cum deserunt sequi sint ipsa
              quis!
            </p>
            <a
              href="javascript:void(0);"
              role="button"
              class="btn btn-sm btn-info"
              >Click Here</a
            >
          </div>
        </li>
        <li class="media">
          <img
            src="https://via.placeholder.com/100"
            class="self-align-end mr-3"
            alt="media third image"
          />
          <div class="media-body">
            <h6>Hello World!</h6>
            <p class="lead">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae
              dolorum quia voluptatum unde ratione cum deserunt sequi sint ipsa
              quis!
            </p>
            <a
              href="javascript:void(0);"
              role="button"
              class="btn btn-sm btn-danger"
              >Click Here</a
            >
          </div>
        </li>
      </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
